@import url('./assets/fonts/geist/geist.css');
@import "tailwindcss";


html {
  font-size: 14px;
  font-family: geist_local;
  @apply bg-neutral-950;
  @apply text-neutral-50;
  @apply font-light;
}


@theme {

  --main-layout-rows: calc(var(--spacing) * 14) 1fr;
  --main-layout-cols: calc(var(--spacing) * 80) 1fr;

  --animate-accordion-open: accordion-open .2s ease-in-out;
  --animate-accordion-close: accordion-close .2s ease-in-out;

  @keyframes accordion-open {
    from {
      height: 0;
    }

    to {
      height: var(--radix-accordion-content-height);
    }
  }


  @keyframes accordion-close {
    from {
      height: var(--radix-accordion-content-height);
    }

    to {
      height: 0;
    }
  }

}

body * {
  @apply select-none;
  scrollbar-gutter: auto;
}
