@import url('./assets/fonts/geist/geist.css');
@import "tailwindcss";


html {
  font-size: 14px;
  font-family: geist_local;
  @apply bg-neutral-950;
  @apply text-neutral-50; 
  @apply font-light;
}


@theme {

  --main-layout-rows: calc(var(--spacing) * 14) 1fr;
  --main-layout-cols: calc(var(--spacing) * 80) 1fr;
}

body * {
  @apply select-none;
  @apply selection:bg-neutral-50;
  @apply selection:text-neutral-950;
}
